<p>
<!-- -->
This email is to remind you to get started on
<!-- -->
<a href="https://cs125.cs.illinois.edu/MP/{{ number }}/">MP{{ number }}</a>.
<!-- -->
MP{{ number }} is due <strong>{{ format_date deadline "full" false }}.</strong>
<!-- -->
Late solutions will not receive full credit.
<!-- -->
Please get going!
<!-- -->
{{ not_count }} CS 125 students are off to a good start on MP{{ number }}.
{{#if early }}
<!-- -->
And the best time to come in for help is early in the week.
{{/if}}
</p>

{{#if early }}
MP{{ number }} also has an early deadline.
<!-- -->
You will receive {{ early.points }} points for submitting something for MP{{ number
}} that earns <em>at least</em> {{ early.threshold }} points by
<!-- -->
<strong>{{ format_date early.deadline "full" false }}.</strong>
<!-- -->
Don't lose out on these points!
</p>
{{/if}}

{{{ contents }}}

<p>
<!-- -->
<strong>If you are having trouble with MP{{ number }} please ask for help.</strong>
<!-- -->
Talk to a fellow student, a course assistant, or your TA; come to
<!-- -->
<a href="https://cs125.cs.illinois.edu/info/resources/#hours">office hours</a>;
<!-- -->
or post on the
<!-- -->
<a href="https://cs125-forum.cs.illinois.edu/c/mps/mp{{ number }}">course forum</a>.
<!-- -->
</p>
