<p>
<!-- -->
You are receiving this email because, according to our records, you have not
{{ verb }}
<!-- -->
<a href="https://cs125.cs.illinois.edu/MP/{{ number }}/">MP{{ number }}</a>.
<!-- -->
MP{{ number }} is due <strong>{{ format_date deadline "full" false }}.</strong>
<!-- -->
Late solutions will not receive full credit.
<!-- -->
Please get started!
<!-- -->
{{ not_count }} CS 125 students have started MP{{ number }}.
</p>

{{{ contents }}}

<p>
<!-- -->
<strong>If you are having trouble with MP{{ number }} please ask for help.</strong>
<!-- -->
Talk to a fellow student, a course assistant, or your TA, or come to
<!-- -->
<a href="https://cs125.cs.illinois.edu/info/resources/#hours">office hours</a>,
<!-- -->
or post on the
<!-- -->
<a href="https://cs125-forum.cs.illinois.edu/c/mps/mp{{ number }}">course forum</a>.
<!-- -->
</p>
